header {
      background: white;
      height: 96px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 6%;
      border-bottom: 1px solid #eee;
      position: sticky;
      top: 0;
      z-index: 10;
}

.menu {
      display: none;
      font-size: 28px;
}

.logos {
    display: flex;
    align-items: center;
}

.logos-link {
    display: flex;
    align-items: center;
}

.logos-header-img {
    width: auto;
    height: 270px;
    object-fit: contain;
    display: block;
}

.logo {
      font-size: 20px;
      font-weight: bold;
      line-height: 1;
      text-align: center;
    }

.logo span {
    display: block;
    font-size: 11px;
    color: var(--gold);
    margin-top: 5px;
}

.btn {
      background: var(--brown);
      color: white;
      padding: 12px 20px;
      border-radius: 6px;
      text-decoration: none;
      font-weight: bold;
      display: inline-block;
      border: 1px solid var(--brown);
      cursor: pointer;
    }
.btn::after {
    content: "›";
    font-size: 24px;
    margin-left: 10px;
    line-height: 0;
}

nav {
      display: flex;
      align-items: center;
      gap: 22px;
    }

nav a {
    color: var(--text);
    text-decoration: none;
    font-size: 14px;
}
 @media (max-width: 900px) {
    header {
        height: 76px;
        padding: 0 20px;
    }
    .logos-header-img {
        height: 250px;
    }
    .btn {
        font-size: 15px;
        padding: 13px 20px;
    }
    .menu {
        display: block;
    }
    nav {
        display: none;
    }
    .logos-header-img {
        height: 250px;
    }

 }